<configuration>
    <application>
        <!--application's server configuration-->
        <service>
            <name>gateway</name>
            <NO>1</NO>
            <timeout>10</timeout>
            <connection>5</connection>
            <servers>
                <server>172.16.20.25</server>
            </servers>
        </service>
    
        <service>
            <name>kaiyang</name>
            <NO>2</NO>
            <timeout>5</timeout>
            <connection>5</connection>
            <servers>
                <server>172.16.19.181</server>
                <server>172.16.19.173</server>
                <server>172.16.19.162</server>
            </servers>
        </service>
    </application>

    <!--网关的配置信息-->
    <gateway>
        <NO>gateway</NO>
        <threads>10</threads>
        <asio>1</asio>
        <host>172.16.20.25</host>
        <port>16000</port>
    </gateway>
</configuration>
